# Base de datos
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=silverback_db

# APIs externas
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
WGER_API_KEY=

# SMTP (recuperación de contraseña)
SMTP_EMAIL=
SMTP_PASSWORD=
